<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ name }}</h1>
        <p>This is your home page.</p>
        <p>Here are the nodes in your Kubernetes cluster:</p>
        <ul>
            {% for node in nodes %}
                <li>{{ node.metadata.name }}</li>
            {% endfor %}
        </ul>
        <p>Here are the pods in your Kubernetes cluster:</p>
        <ul>
            {% for pod in pods %}
                <li>{{ pod.metadata.name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>